#introtext_metamaterial {

	border:     none;
	background: transparent;

	.inside {
		margin:  0;
		padding: 0;
	}
	textarea {
		background-color: #FFFFFF;
		font-size:        1em;
		height:           4em;
		line-height:      100%;
		margin:           0;
		outline:          0 none;
		padding:          2px 8px;
		width:            100%;
		resize: none;
	}
}